@page "/alldrills"
@inject IShootingDrillRepository drillRepo

<h3>AllShootingDrills</h3>

<Virtualize Items="@allDrills" Context="drill">
    <ShootingDrillTab shootingDrill="drill" />
</Virtualize>

@code {
    private List<ShootingDrill> allDrills = new();

    protected async override Task OnInitializedAsync()
    {
        allDrills = await drillRepo.GetAll();
    }
}
