@page "/MyProfile"
@attribute [Authorize]

@using ClientLibrary.Models
@using ClientLibrary.Services
@inject AuthenticationStateProvider authProvider;
@inject IUserService userService;
<h3>MyProfile</h3>

@if (loggedInUser is not null)
{
    <UserProfile Id="@loggedInUser.Id.ToString()"></UserProfile>
}


@code {
    private User? loggedInUser;

    protected async override Task OnInitializedAsync()
    {
        loggedInUser = await userService.GetAsync();
    }
}