@page "/MyProfile"
@attribute [Authorize]

@using ClientLibrary.Models
@using ClientLibrary.Services
@inject AuthenticationStateProvider authProvider;
@inject IUserService userService;
@inject IThreeOnThreeMatchService matchService;
@inject IShootingDrillService drillService;

<h3>MyProfile</h3>

@if (loggedInUser is not null)
{
    <UserProfile ShootingDrills="shootingDrills" ToTMatches="matches"></UserProfile>
}


@code {
    private User? loggedInUser;
    private List<ShootingDrill> shootingDrills = new();
    private List<ThreeOnThreeMatch> matches = new();

    protected override async Task OnInitializedAsync()
    {
        loggedInUser = await userService.GetAsync();
        
        shootingDrills = await drillService.GetAsync();
        matches = await matchService.GetAsync();
    }

}