@if (Drills.Count != 0)
{
    <div class="container">
        <div class="row">
            <div class="col">
                Threes%
            </div>
            <div class="col">
                Midrange%
            </div>
            <div class="col">
                Postup%
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Math.Round(100 * Drills.Average(d => d.ThreePointers.Percentage), 1)%
            </div>
            <div class="col">
                @Math.Round(100 * Drills.Average(d => d.MidrangeShots.Percentage), 1)%
            </div>
            <div class="col">
                @Math.Round(100 * Drills.Average(d => d.PostUps.Percentage), 1)%
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public List<ClientLibrary.Models.ShootingDrill> Drills { get; set; }

}
