@page "/profile/{id}"

@using ClassLibrary.DataRepositories
@using ClassLibrary.Models
@inject IUserRepository userRepo;
@inject IShootingDrillRepository drillRepo;
@inject NavigationManager navManager;
<h1>UserProfile</h1>

<ShootingDrillSummary Drills="shootingDrills" />

<h2>Shooting drill records</h2>

<div style="height:1000px;overflow-y:scroll">
    
    <Virtualize Items="shootingDrills" Context="drill">
        <ShootingDrillTab shootingDrill="drill" />
    </Virtualize>

    
</div>


@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;
    private User? user;
    private List<ShootingDrill> shootingDrills = new();

    protected override async Task OnInitializedAsync()
    {
        user = await userRepo.Get(Int32.Parse(Id));
        if (user is null)
        {
            navManager.NavigateTo("/");
        }
        shootingDrills = await drillRepo.GetAllFromUser(user!);
    }
}