<AuthorizeView>
    <Authorized>
        <a href="/profile">Profile</a>

        <a href="/MicrosoftIdentity/Account/SignOut">Log Out</a>
    </Authorized>

    <NotAuthorized>
        <a href="/MicrosoftIdentity/Account/SignIn">Log In</a>
    </NotAuthorized>
</AuthorizeView>